.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: var(--bg-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.cabecalho-titulo {
    color: var(--dark-neutral);
    font-weight: 800;
}

.cabecalho-menu {
    display: block;
    unicode-bidi: isolate;
}.cabecalho-menu-item{
    text-decoration: none;
    color: red;
    margin: 0 15px;
    font-weight: 600;
    transition: color 0.2s;
}

.cabecalho-menu-botao{
    background-color: black;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.9rem;
    transition: transform 0.2s;
}

.problema{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 5%;
    min-height: 80vh;
    gap: 30px;
}